# Dependencies
node_modules/

# Build output
.webpack/
out/

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log

# Environment variables
.env
.env.test

# Cache
.eslintcache
.cache

# OS
.DS_Store

# Data files
data/
